<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.laclife.ui"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <application
        android:name="com.laclife.LACLifeApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Light" >
        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".HomeActivity"
            android:label="@string/activity_home"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Products -->
        <activity
            android:name=".products.ProductsActivity"
            android:label="@string/activity_products"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.ProductDescriptionActivity"
            android:label="@string/title_product"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.ContactDetailsActivity"
            android:label="@string/title_product_quote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.SavingAmountActivity"
            android:label="@string/title_product_quote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.AddRiskActivity"
            android:label="@string/title_product_quote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.NumberVerificationActivity"
            android:label="@string/title_product_quote"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".products.FinalQuoteActivity"
            android:label="@string/title_product_quote"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Products -->
        <activity
            android:name=".registration.RegisterActivity"
            android:label="@string/activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.RequirementsActivity"
            android:label="@string/activity_requirements"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.YourDetailsActivity"
            android:label="@string/activity_your_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.EnterDetailsActivity1"
            android:label="@string/activity_enter_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.EnterDetailsActivity2"
            android:label="@string/activity_enter_details"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".registration.ReviewDetailsActivity"
            android:label="@string/activity_review_details"
            android:screenOrientation="portrait" >
        </activity>

        <!-- Login -->        
        <activity
            android:name=".login.LoginActivity"
            android:label="@string/activity_register"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name=".login.SlidingMenuBaseActivity"
            android:label="@string/activity_login"
            android:screenOrientation="portrait" >
        </activity>
    </application>

</manifest>